* {
    outline: transparent;
}

/*Estilo do scroll*/
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Estilo do corpo do site(plano de fundo, fontes e alinhamento)*/
body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    color: #ffffff;
    background:url("assets/mountains-1412683.png");
    background-size: cover ;
    background-position:bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #313131;
}


/*padroniza a aparencia de todos os links e alinha spans do site*/
a{text-decoration: none; color: white;}
a:hover{color: #E95420;}
span{vertical-align: middle;}


/*Organiza o corpo e o cabeçalho*/
.head-profile, .page-spacer{
    padding: 10px;
    overflow: hidden;
}
.head-profile{
    position:fixed;
    z-index: 10;
    max-width: 100%;
    margin:auto;
    left: 0;
    right: 0;
}
.page-spacer{
    padding-top: 180px;
}


/*Estilo do bloco principal do cabeçalho*/
.profile-info{
    left: 0;           
    right: 0;
    background-color: #232323;
    backdrop-filter:blur(0px);
    border: 1px solid rgb(12, 12, 12);
    border-radius: 15px;
    box-shadow: var(--shadow-2);
    z-index: 0  ;
    width: 1200px;       
    margin: auto;      
    max-width: 100%;   
    z-index: 10000;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
    padding: 25px;
    display: block;
    gap: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 150px;
}

#profile-info-container{
    margin-bottom: 20px;
}
#profile-pic{
    height: 5rem;
    border: 2px solid #E95420;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    display: inline-block;
}
#profile-pic:hover{
    box-shadow: #E95420 0px 2px 16px 0px;
}
#myinfos{
    margin-left: 25px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
#myrole{
    background-color: #313131;
    padding: 5px;
    border-radius: 5px;
}

/*Botão de expandir/retrair*/
.expand-more span{
    vertical-align: middle;
}
.expand-more{
    position:absolute;
    padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    font-size: 13px;
    color: white;
    border: 0;
    box-shadow: var(--shadow-2);
    z-index: 2;
    height:30px;
    transition: all 0.3s ease-in-out;
}
.expand-more:hover{
    background-color: #313133;

}


/*Mostra informações quando o botão de expandir é pressionado*/
.profile-info.active, .profile-info.active .my-info-description{
    max-height: 400px;
    opacity: 1;
}

/*Informações ocultas/expandivel*/
.my-info-description{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;   
    opacity: 0;
    transition: opacity 0.2s linear;
    width: 100%;
}
.my-info-container{
    display: flex;
    flex-wrap: wrap;
}
.my-info-description h3{
    position: relative;
    font-weight: 500;
}
.infos-p{
    margin-bottom: 5px;
}
.contact-info{
    flex: 1;
    width: 1000px;
    max-width: 100%;
}
.social-links{
    flex: 1;
    height: 100%;
    text-align: center;
    top:0;
    bottom: 0;
    margin: auto;
}

/*Animação de cor dos icones*/
.contact-icons{
    background: linear-gradient(261deg, rgb(198, 119, 29) 0%, #E95420 100%);
    background-size: 400% 400%;
    animation: gradientanim 1s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Separador*/
.separator{
    height: 1px;
    background-color: #313131;
    margin: 10px;
}

/*Estilo dos botões sociais*/
.circular-buttons, svg{
    height: 30px;
    width: 30px;
    fill:rgb(255, 255, 255);  
}
.circular-buttons{
    vertical-align: top;
    color:white;
    padding: 16px 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #212121;
}
.circular-buttons:hover{
    background: linear-gradient(261deg, rgb(198, 119, 29) 0%, #E95420 100%);
    border-color: white;
}
.circular-buttons:hover svg{
    fill: white;
}

/*Animação de gradiente*/
@keyframes gradientanim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*Modificação para mobile*/
@media (max-width:767px){
    .head-profile{
        padding: 0px;
    }
    .page-spacer{
        padding-top: 165px;
    }
    .profile-info{
        border-radius: 0px 0px 15px 15px;
    }
    /*muda comportamento do botão de expandir*/
    .expand-more:hover{
        background-color: transparent;
    }
    .expand-more:active{
        background-color: #313133;
    }

    /*Muda a disposição do conteudo expandível*/
    .my-info-container{
        display: block;
    }

    /*Aumentar a margem do topo para os botões sociais*/
    .social-links{
        margin-top: 20px;
    }
    /*Reduzir Tamanho dos botões sociais*/
    .circular-buttons svg{
        height: 20px;
    }
    .circular-buttons{
        padding: 10px 4px;
    }
}