/*Deixa o article oculto*/
article{
    opacity: 0;
    max-height: 0;
}

/*Estilo para revelar o Article selecionado*/
article.active{
    opacity: 1;
    max-height: fit-content;
    transition: opacity 0.5s ease-in-out;
}

/*Titulos dos articles*/
.article-title{
    font-size: 1.8rem;
}

/*Sublinhado colorido com animação dos titulos*/
.article-title-underline{
    background: linear-gradient(261deg, rgb(198, 119, 29) 0%, #E95420 100%);
    background-size: 400% 400%;
    animation: gradientanim 1s ease infinite;
    height: 4px;
    width: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*Bloco em que fica o conteúdo de todos articles*/
.article-container{
    left: 0;           
    right: 0;
    background: #242424;
    /*backdrop-filter: blur(2px);*/
    border: 1px solid rgb(12, 12, 12);
    border-radius: 15px;
    z-index: 5;
    width: 1000px;      
    margin: auto;      
    max-width: 100%;   
    z-index: 10000;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
    padding: 25px;
    margin-bottom: 50px;
    max-height: fit-content; 
    transition: all 1s ease-in-out;
}

/*Cards do article inicial*/
.blocks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block-do{  
    background-color: #212121;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px;
    margin:10px;
    width: 450px;
    max-width: 100%;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 15px;
    margin-top: 10px;
}
.f-icon{
    width: 3rem;
    height: 3rem;
}
.card-icon-spot{
    height: fit-content;
    text-align: center;
    width: fit-content;
    border-radius: 15px;
    display: inline-block;
    background-color: #313131;
}
.card-container{
    display: inline-block;
    padding: 5px;
    
}
