/*Estilos da lista de projetos dos repositorios*/
.repository-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    left: 0;
    right: 0;
    list-style-type:none;
    margin-left: -15px;
}
.repository{
    z-index: 5;
    padding: 10px;
    margin:10px auto;
    width: 400px;
    transition: all 0.3s ease-in-out;
}

#repository-list-load{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    list-style-type:none;
    margin-left: -15px;
}
.repository-load{
    z-index: 5;
    padding: 10px;
    margin:10px auto;
    width: 400px;
    height: 100px;
}
