/*Estilo dos textos do resumo*/
.hist-item{
    visibility: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    margin-bottom: 20px;
    gap:0;
}
.hist-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
.hist-item:not(:last-child)::before {
    margin-top: 20px;
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 30px);
}
.title-spot{
    margin-right: 10px;
    margin-left: -14px;
}
.res-title-icon{
    font-size:1.5rem; margin:5px;
}
.item-description{
    font-weight: 300;
}
.item-data{
    margin-top: -15px;
    font-weight: 300;
}

/*Estilo das tags de habilidades*/
.skill-container{
    z-index: 5;
    padding: 10px;
    margin:10px auto;
}
.skill-list{
    display:flex;
    flex-wrap: wrap;
}
.skill-item{
    padding:10px;
    margin: 5px;
}

/*Estilos das barras de progresso*/
.progressbar-container{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex: 1;
}
.skill-progressbar{
    z-index: 5;
    padding: 2px;
    margin:2px auto;
    width: 450px;
    max-width: 100%;
}
